<%= content_tag :h1, "List of Benefits" %>


<div class="text-end mb-3">
  <%= link_to new_benefit_path, class: 'btn btn-primary' do %>
    New Benefit
  <% end %>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>

      <th>ID</th>
        <th>Name</th>
        <th>Abbreviation</th>
        <th></th>

      </tr>
    </thead>

    <tbody>
      <% @benefits.each do |benefit| %>
        <tr>

        <td><%= benefit.id %></td>
        <td><%= benefit.name %></td>
        <td><%= benefit.abbreviation %></td>
    
          <td>
            <%= link_to 'View', benefit, class: 'btn' %>
            <%= link_to 'Edit', edit_benefit_path(benefit), class: 'btn' %>
            <%= link_to 'Delete', benefit, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn' %>
          </td>

        </tr>
      <% end %>
    </tbody>
  </table>
</div>
