<%= content_tag :h1, "List of Claim Requirements" %>


<div class="text-end mb-3">
  <%= link_to new_claim_requirement_path, class: 'btn btn-primary' do %>
    New Claim Requirement
  <% end %>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>

      <th>ID</th>
        <th>Requirement</th>
        <th>Type</th>
        <th></th>

      </tr>
    </thead>

    <tbody>
      <% @claim_requirements.each do |claim_requirement| %>
        <tr>

        <td><%= claim_requirement.id %></td>
        <td><%= claim_requirement.requirement %></td>
        <td><%= claim_requirement.type %></td>
    
          <td>
            <%= link_to 'View', claim_requirement, class: 'btn' %>
            <%= link_to 'Edit', edit_claim_requirement_path(claim_requirement), class: 'btn' %>
            <%= link_to 'Delete', claim_requirement, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn' %>
          </td>

        </tr>
      <% end %>
    </tbody>
  </table>
</div>
