<div id="<%= dom_id employee %>">
  <p>
    <strong>Last name:</strong>
    <%= employee.last_name %>
  </p>

  <p>
    <strong>First name:</strong>
    <%= employee.first_name %>
  </p>

  <p>
    <strong>Middle name:</strong>
    <%= employee.middle_name %>
  </p>

  <p>
    <strong>Suffix:</strong>
    <%= employee.suffix %>
  </p>

  <p>
    <strong>Birthdate:</strong>
    <%= employee.birthdate %>
  </p>

  <p>
    <strong>Username:</strong>
    <%= employee.username %>
  </p>

</div>
