
<%= simple_form_for(@gyrt_rate) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs mb-3">
    <%= f.association :benefit %>
    <%= f.input :age %>
    <%= f.input :rate %>
    <%= f.input :rate_type %>
  </div>

  <div class="form-actions text-end">
    <%= link_to "Back", gyrt_rates_path, class: 'btn btn-secondary' %>
    <%= f.button :submit, class: 'btn-success' %>
  </div>
<% end %>
