<div id="<%= dom_id gyrt_rate %>">
  <p>
    <strong>Benefit:</strong>
    <%= gyrt_rate.benefit_id %>
  </p>

  <p>
    <strong>Age:</strong>
    <%= gyrt_rate.age %>
  </p>

  <p>
    <strong>Rate:</strong>
    <%= gyrt_rate.rate %>
  </p>

  <p>
    <strong>Rate type:</strong>
    <%= gyrt_rate.rate_type %>
  </p>

</div>
