
<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="card">
    <div class="card-header bg-primary text-white text-center">
      <%= content_tag :span, "Agents Login".upcase, class: "lead" %>
    </div>
    <div class="card-body">
      <div class="form-inputs">
        <%= f.input :username,
                    required: false,
                    autofocus: true,
                    input_html: { autocomplete: "username" } %>
        <%= f.input :password,
                    required: false,
                    input_html: { autocomplete: "current-password" } %>
        <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
      </div>
    </div>
    <div class="card-footer">
      <div class="form-actions">
        <%= f.button :submit, "Log in", class: "btn btn-primary btn-sm" %>
      </div>
    </div>
  </div>
<% end %>

<%= render "agents/shared/links" %>
