<h1 class="text-center"><%= pluralize(@cooperatives.count, "Result") %></h1>

<div class="container">
  <div class="digg_pagination mb-3 float-end">
    <%= will_paginate @cooperatives, :container => false %>
  </div>
  <table class="table table-hover table-striped">
    <thead>
      <tr>
        <th><%= sort_link(@query, :name, "Coop Name", default_order: :asc) %></th>
        <th><%= sort_link(@query, :status, "Coop Status") %></th>
        <th><%= sort_link(@query, :asset_size, "Asset Size") %></th>
      </tr>
    </thead>
    <tbody>
      <% @cooperatives.each do |coop| %>
        <tr>
          <td><%= link_to coop.name, coop %></td>
          <td><%= coop.status %></td>
          <td><%= coop.asset_size %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>