<div id="<%= dom_id gyrt_rate_multiplier %>">
  <p>
    <strong>Benefit:</strong>
    <%= gyrt_rate_multiplier.benefit_id %>
  </p>

  <p>
    <strong>Min age:</strong>
    <%= gyrt_rate_multiplier.min_count %>
  </p>

  <p>
    <strong>Max age:</strong>
    <%= gyrt_rate_multiplier.max_count %>
  </p>

  <p>
    <strong>Rate:</strong>
    <%= gyrt_rate_multiplier.rate %>
  </p>

</div>
