<%= simple_form_for @gyrt_agreement, url: upload_ids_gyrt_agreement_path, method: :patch do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs mb-3 mt-3 card">
    <div class="card-body">
      <div class="row">
        <%= f.input :id_uploads, as: :file, label: "IDs", input_html: { class: "form-control", multiple: true } %>
      </div>
    </div>
  </div>

  <div class="form-actions text-end">
    <%= f.button :submit, "Upload IDs", class: 'btn-success mt-2' %>
  </div>

<% end %>