<%= simple_form_for @gyrt_agreement, url: upload_notarized_moa_gyrt_agreement_path, method: :patch do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs mb-3 mt-3 card">
    <div class="card-body">
      <div class="row">
        <%= f.input :notarized_moa, as: :file, label: "Notarized M.O.A.", input_html: { class: "form-control" } %>
      </div>
    </div>
  </div>

  <div class="form-actions text-end">
    <%= f.button :submit, "Upload Signed M.O.A.", class: 'btn-success mt-2' %>
  </div>

<% end %>