<div id="<%= dom_id gyrt_agreement %>">

  <div class="card mb-3 mt-3 w-75">
    <div class="card-header">
      <%= content_tag :span, gyrt_agreement.cooperative.name, class: "fw-bold lead" %>
    </div>
    <div class="card-body">
      <p>
        <strong>Product name:</strong>
        <%= gyrt_agreement.product_name %>
      </p>
      
      <div>
        <%= content_tag :span, "Age requirements", class: "fw-bold lead" %>
        <br>
        <% old_ages = [
          [gyrt_agreement.old_min_age, "Entry"], [gyrt_agreement.old_max_age, "Exit"]
          ] %>
        <% new_ages = [
          [gyrt_agreement.new_min_age, "Entry"], [gyrt_agreement.new_max_age, 'Exit']
          ] %>

        <%= content_tag :span, "Old/Existing Members: " %>
        <br>
        <% old_ages.each do |old| %>
          <div class="row text-center mb-1">
            <div class="col-3">
              <%= content_tag :span, "#{old[1]} age" %>
            </div>
            <div class="col-2">
              :
            </div>
            <div class="col-2">
              <%= content_tag :span, "#{old[0]} years old", class: "fw-bold" %>
            </div>
          </div>
        <% end %>

        <%= content_tag :span, "New Members: " %>
        <br>
        <% new_ages.each do |new| %>
          <div class="row text-center mb-1">
            <div class="col-3">
              <%= content_tag :span, "#{new[1]} age" %>
            </div>
            <div class="col-2">
              :
            </div>
            <div class="col-2">
              <%= content_tag :span, "#{new[0]} years old", class: "fw-bold" %>
            </div>
          </div>
        <% end %>

      </div>

      <div>
        <%= content_tag :span, "Rate Details", class: "fw-bold lead" %>
        <br>
        <div class="row text-center">
          <div class="col-3">
            <%= content_tag :span, "Premium rate" %>
          </div>
          <div class="col-2">
            :
          </div>
          <div class="col-2">
            <%= content_tag :span, to_currency(gyrt_agreement.prem_rate), class: "fw-bold" %>
          </div>
        </div>
        <div class="row text-center">
          <div class="col-3">
            <%= content_tag :span, "Coop Service Fee (%)" %>
          </div>
          <div class="col-2">
            :
          </div>
          <div class="col-2">
            <%= content_tag :span, "#{gyrt_agreement.coop_sf * 100}%", class: "fw-bold" %>
          </div>
        </div>
        <div class="row text-center">
          <div class="col-3">
            <%= content_tag :span, "Agent Service Fee (%)" %>
          </div>
           <div class="col-2">
            :
          </div>
          <div class="col-2">
            <%= content_tag :span, "#{gyrt_agreement.agent_sf * 100}%", class: "fw-bold" %>
          </div>
        </div>
      </div>

      <div>
        <%= content_tag :span, "Proposal", class: "fw-bold lead" %>
        <br>
        <%= link_to "Proposal No.: #{gyrt_agreement.gyrt_proposal.proposal_no}", to_pdf_gyrt_proposal_path(gyrt_agreement.gyrt_proposal_id, format: :pdf), class: "link-success lead" %>
        <br>
        <div class="row text-center">
          <div class="col-3">
            <%= content_tag :span, "Policy Anniversary Type" %>
          </div>
           <div class="col-2">
            :
          </div>
          <div class="col-2">
            <%= content_tag :span, gyrt_agreement.policy_anniv_type, class: "fw-bold" %>
          </div>
        </div>
        <div class="row text-center">
          <div class="col-3">
            <%= content_tag :span, "Minimum Enrollees Participation" %>
          </div>
           <div class="col-2">
            :
          </div>
          <div class="col-2">
            <%= content_tag :span, "#{gyrt_agreement.min_enrollees_count} members", class: "fw-bold" %>
          </div>
        </div>
      </div>
      
      <div>
        <%= content_tag :span, "Attachments Status", class: "fw-bold lead" %>
        <div>
          <% uploads = [ 
            ['Logo', gyrt_agreement.coop_logo.attached?],
            ["I.D Upload", gyrt_agreement.ids_upload],
            ["M.O.A. Signed", gyrt_agreement.signed_by_coop],
            ["M.O.A. Notarized", gyrt_agreement.notarized],
            ["Masterlist of Members", gyrt_agreement.members_masterlist]
          ]%>
          <% uploads.each do |u| %>
            <% if u[1] == true %>
              <% sv = "success" %>
              <% val = "UPLOADED" %>
            <% else %>
              <% sv = "secondary" %>
              <% val = "PENDING" %>
            <% end %>
            <div class="row text-center">
              <div class="col-3">
                <%= content_tag :span, u[0] %>
              </div>
              <div class="col-2">
              :
              </div>
              <div class="col-2">
                <%= content_tag :span, val, class: "badge text-#{sv}" %>
              </div>
            </div>
          <% end %>
        </div>
       

      </div>

      <div>
        <h4>Attachments</h4>
        <% if @gyrt_agreement.id_uploads.nil? == false && @gyrt_agreement.coop_logo.attached? == false  && @gyrt_agreement.signed_moa.nil? == false %>
          <%= content_tag :h4, "No Attachment Uploaded", class: "lead" %>
        <% else %> 
          <% @gyrt_agreement.id_uploads.each_with_index do |id, index| %>
            <%= content_tag :p, link_to("ID ##{index + 1} - #{id.filename}", rails_blob_url(id), target: :_blank), class: "lead" %>
          <% end %>
          <%#= link_to image_tag(@gyrt_agreement.coop_logo), "image" %>
          <% unless @gyrt_agreement.coop_logo.attached? %>
            <%= content_tag :p, "No Coop Logo Uploaded" %>
            <% else %>
            <%= content_tag :p, link_to("View Logo", rails_blob_url(@gyrt_agreement.coop_logo), target: :_blank), class: "lead" %>
          <% end %>
          <% unless @gyrt_agreement.signed_moa.attached? %>
            <%= content_tag :p, "Signed MOA not Uploaded" %>
          <% else %>
            <%= content_tag :p, link_to("View Signed MOA", rails_blob_url(@gyrt_agreement.signed_moa), target: :_blank), class: "lead" %>
          <% end %>
          <% unless @gyrt_agreement.notarized_moa.attached? %>
            <%= content_tag :p, "Notarized MOA not Uploaded" %>
          <% else %>
            <%= content_tag :p, link_to("View Notarized MOA", rails_blob_url(@gyrt_agreement.notarized_moa), target: :_blank), class: "lead" %>
          <% end %>
        <% end %>
      </div>



      
    </div>
    <div class="card-footer">
      <%= link_to "View PDF", to_pdf_gyrt_agreement_path(@gyrt_agreement, format: :pdf), class: "btn btn-warning btn-sm" %>
      <% if current_user.class.name == "Agent" %>

        <% if can? :batch_import, Member %>
          <%= link_to "Upload Master List", batch_form_members_path(coop: gyrt_agreement.cooperative, moa: gyrt_agreement), class: "btn btn-secondary btn-sm", data: { turbo_frame: "remote_modal" } %>
        <% end %>

        <% unless @gyrt_agreement.coop_logo.attached? %>
          <%= link_to "Upload Coop Logo", moa_attachments_gyrt_agreement_path(title: "Upload Cooperative Logo", f: "logo"), class: "btn btn-secondary btn-sm", data: { turbo_frame: "remote_modal" } %>
        <% end %>
        
        <% unless @gyrt_agreement.id_uploads.attached? %>
          <%= link_to "Upload IDs", moa_attachments_gyrt_agreement_path(title: "Upload IDs", f: "id"), class: "btn btn-secondary btn-sm", data: { turbo_frame: "remote_modal" } %>
        <% end %>

        <% unless @gyrt_agreement.signed_moa.attached? %>
          <%= link_to "Upload Signed MOA", moa_attachments_gyrt_agreement_path(title: "Upload Signed MOA", f: "signed_moa"), class: "btn btn-secondary btn-sm", data: { turbo_frame: "remote_modal" } %>
        <% end %>

      <% elsif current_user.class.name == "Employee" && current_user.id == 9 %>
        <% unless @gyrt_agreement.notarized_moa.attached? %>
          <%= link_to "Upload Notarized M.O.A", moa_attachments_gyrt_agreement_path(title: "Upload Notarized MOA", f: "notarized_moa"), class: "btn btn-secondary btn-sm", data: { turbo_frame: "remote_modal" }  %>
        <% end %>
      <% end %>
      <%# if can? :batch_import, Member %>
        <%#= link_to "Upload Masterlist of Members", batch_form_members_path(coop: gyrt_agreement.cooperative, moa: gyrt_agreement), class: "btn btn-outline-success btn-sm", data: { turbo_frame: "remote_modal" } %>
      <%# end %>
      <%# if current_user.class.name == "Agent" %>
        <%#= link_to "Upload Coop Logo", "#", class: "btn btn-outline-warning btn-sm" %>
      <%# end %>
    </div>

  </div>
  

