<p>
    <strong>Cooperative:</strong>
    <%= matrix.cooperative_id %>
  </p>

  <p>
    <strong>Product name:</strong>
    <%= matrix.product_name %>
  </p>

  <p>
    <strong>Old min age:</strong>
    <%= matrix.old_min_age %>
  </p>

  <p>
    <strong>Old max age:</strong>
    <%= matrix.old_max_age %>
  </p>

  <p>
    <strong>New min age:</strong>
    <%= matrix.new_min_age %>
  </p>

  <p>
    <strong>New max age:</strong>
    <%= matrix.new_max_age %>
  </p>

  <p>
    <strong>Prem rate:</strong>
    <%= matrix.prem_rate %>
  </p>

  <p>
    <strong>Rate type:</strong>
    <%= matrix.rate_type %>
  </p>

  <p>
    <strong>Gyrt proposal:</strong>
    <%= matrix.gyrt_proposal_id %>
  </p>

  <p>
    <strong>Proposal no:</strong>
    <%= matrix.proposal_no %>
  </p>

  <p>
    <strong>Policy Anniversary type:</strong>
    <%= matrix.policy_anniv %>
  </p>