<%= content_tag :h1, "Cooperative Matrix (GYRT only)" %>


<div class="text-end mb-3">
  <%= link_to new_matrix_path, class: 'btn btn-primary' do %>
    New Matrix
  <% end %>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>

      <th>ID</th>
        <th>Cooperative</th>
        <th>Old Member Age</th>
        <th>New Member Age</th>
        <th>Prem Rate</th>
        <th>Rate Type</th>
        <th>Proposal</th>
        <th></th>

      </tr>
    </thead>

    <tbody>
      <% @matrices.each do |matrix| %>
        <tr>

        <td><%= matrix.id %></td>
        <td><%= matrix.cooperative %></td>
        <td><%= matrix.old_min_age %> years old. to <%= matrix.old_max_age %> years old.</td>
        <td><%= matrix.new_min_age %> years old. to <%= matrix.new_max_age %> years old.</td>
        <td><%= to_currency(matrix.prem_rate) %></td>
        <td><%= matrix.rate_type %></td>
        <td><%= link_to matrix.gyrt_proposal.matrix_name, gyrt_proposal_path(matrix.gyrt_proposal) %> - <%= matrix.product_name %></td>
        <td>Proposal No. <%= matrix.proposal_no %></td>
    
          <td>
            <%= link_to 'View', matrix, class: 'btn' %>
            <%= link_to 'Edit', edit_matrix_path(matrix), class: 'btn' %>
            <%= link_to 'Delete', matrix, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn' %>
          </td>

        </tr>
      <% end %>
    </tbody>
  </table>
</div>
