<%= content_tag :h1, "List of Geo Barangays" %>


<div class="text-end mb-3">
  <%= link_to new_geo_barangay_path, class: 'btn btn-primary' do %>
    New Geo Barangay
  <% end %>
</div>

<div class="table-responsive float">
  <div class="digg_pagination mb-3 float-end">
    <%= will_paginate @geo_barangays, :container => false %>
  </div>
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>

      <th>ID</th>
        <th>Region</th>
        <th>Province</th>
        <th>Municipality</th>
        <th>Name</th>
        <th>Psgc Code</th>
        <th></th>

      </tr>
    </thead>

    <tbody>
      <% @geo_barangays.each do |geo_barangay| %>
        <tr>

        <td><%= geo_barangay.id %></td>
        <td><%= geo_barangay.geo_region %></td>
        <td><%= geo_barangay.geo_province %></td>
        <td><%= geo_barangay.geo_municipality %></td>
        <td><%= geo_barangay.name %></td>
        <td><%= geo_barangay.psgc_code %></td>
    
          <td>
            <%= link_to 'View', geo_barangay, class: 'btn' %>
            <%= link_to 'Edit', edit_geo_barangay_path(geo_barangay), class: 'btn' %>
            <%= link_to 'Delete', geo_barangay, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn' %>
          </td>

        </tr>
      <% end %>
    </tbody>
  </table>
</div>
