<div id="<%= dom_id agent %>">
  <p>
    <strong>Last name:</strong>
    <%= agent.last_name %>
  </p>

  <p>
    <strong>First name:</strong>
    <%= agent.first_name %>
  </p>

  <p>
    <strong>Middle name:</strong>
    <%= agent.middle_name %>
  </p>

  <p>
    <strong>Suffix:</strong>
    <%= agent.suffix %>
  </p>

  <p>
    <strong>Birthdate:</strong>
    <%= agent.birthdate %>
  </p>

  <p>
    <strong>Username:</strong>
    <%= agent.username %>
  </p>

</div>
