<%= content_tag :h1, "List of Agents" %>


<div class="text-end mb-3">
  <%= link_to new_agent_path, class: 'btn btn-primary' do %>
    New Agent
  <% end %>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>

      <th>ID</th>
        <th>Last Name</th>
        <th>First Name</th>
        <th>Middle Name</th>
        <th>Suffix</th>
        <th>Birthdate</th>
        <th>Username</th>
        <th></th>

      </tr>
    </thead>

    <tbody>
      <% @agents.each do |agent| %>
        <tr>

        <td><%= agent.id %></td>
        <td><%= agent.last_name %></td>
        <td><%= agent.first_name %></td>
        <td><%= agent.middle_name %></td>
        <td><%= agent.suffix %></td>
        <td><%= agent.birthdate %></td>
        <td><%= agent.username %></td>
    
          <td>
            <%= link_to 'View', agent, class: 'btn' %>
            <%= link_to 'Edit', edit_agent_path(agent), class: 'btn' %>
            <%= link_to 'Delete', agent, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn' %>
          </td>

        </tr>
      <% end %>
    </tbody>
  </table>
</div>
