<div id="<%= dom_id proposal_remark %>">
  <p>
    <strong>Gyrt proposal:</strong>
    <%= proposal_remark.gyrt_proposal_id %>
  </p>

  <p>
    <strong>Remark:</strong>
    <%= proposal_remark.remark %>
  </p>

  <p>
    <strong>Remark type:</strong>
    <%= proposal_remark.remark_type %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= proposal_remark.status %>
  </p>

</div>
