<div id="<%= dom_id gyrt_proposal_benefit %>">
  <p>
    <strong>Gyrt proposal:</strong>
    <%= gyrt_proposal_benefit.gyrt_proposal_id %>
  </p>

  <p>
    <strong>Benefit:</strong>
    <%= gyrt_proposal_benefit.benefit_id %>
  </p>

  <p>
    <strong>Sum insured:</strong>
    <%= gyrt_proposal_benefit.sum_insured %>
  </p>

  <p>
    <strong>Base prem:</strong>
    <%= gyrt_proposal_benefit.base_prem %>
  </p>

</div>
