<%= content_tag :h1, "List of Cooperatives" %>


<div class="text-end mb-3">
  <%= link_to "New Coop", new_cooperative_path, class: "btn btn-primary", data: { turbo_frame: "remote_modal" } %>
</div>

<div class="digg_pagination mb-3 float-end">
  <%= will_paginate @cooperatives, :container => false %>
</div>

<div class="table-responsive"></div>
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <%# <th>Geo Province</th>
        <th>Geo Municipality</th>
        <th>Geo Barangay</th> %>
        <th>Address</th>
        <th>Coop Category</th>
        <th>Coop Type</th>
        <th>Status</th>
        <th>Asset Size</th>
        <th>Registration No</th>
        <th>Total Asset</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @cooperatives.group_by(&:geo_region).each do |region, coops| %>
        <tr>
          <td colspan=11 class="bg-dark">
            <%= content_tag :p, link_to(region, region), class: "lead link-success mb-0" %>
          </td>
        </tr>
        <% coops.each do |cooperative| %>
          <tr>

          <td><%= cooperative.id %></td>
          <td><%= cooperative.name %></td>
          <td><%= cooperative.address %></td>
          <td><%= cooperative.coop_category %></td>
          <td><%= cooperative.coop_type %></td>
          <td><%= cooperative.status %></td>
          <td><%= cooperative.asset_size %></td>
          <td><%= cooperative.registration_no %></td>
          <td><%= cooperative.total_asset %></td>
      
            <td>
              <%= link_to 'View', cooperative, class: 'btn' %>
              <%= link_to 'Edit', edit_cooperative_path(cooperative), class: 'btn' %>
              <%= link_to 'Delete', cooperative, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn' %>
            </td>

          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
