<div id="<%= dom_id gyrt_batch %>">
  <p>
    <strong>Cooperative:</strong>
    <%= gyrt_batch.cooperative_id %>
  </p>

  <p>
    <strong>Batch name:</strong>
    <%= gyrt_batch.batch_name %>
  </p>

  <p>
    <strong>Total gross prem:</strong>
    <%= gyrt_batch.total_gross_prem %>
  </p>

  <p>
    <strong>Total coop sf:</strong>
    <%= gyrt_batch.total_coop_sf %>
  </p>

  <p>
    <strong>Total net prem:</strong>
    <%= gyrt_batch.total_net_prem %>
  </p>

  <p>
    <strong>Members count:</strong>
    <%= gyrt_batch.members_count %>
  </p>

  <p>
    <strong>Denied count:</strong>
    <%= gyrt_batch.denied_count %>
  </p>

  <p>
    <strong>Effective date:</strong>
    <%= gyrt_batch.effective_date %>
  </p>

  <p>
    <strong>Expiry date:</strong>
    <%= gyrt_batch.expiry_date %>
  </p>

  <p>
    <strong>Terms:</strong>
    <%= gyrt_batch.terms %>
  </p>

</div>
