<%= content_tag :h1, "List of Gyrt Batches" %>


<div class="text-end mb-3">
  <%= link_to new_gyrt_batch_path, class: 'btn btn-primary' do %>
    New Gyrt Batch
  <% end %>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>

      <th>ID</th>
        <th>Cooperative</th>
        <th>Batch Name</th>
        <th>Total Gross Prem</th>
        <th>Total Coop Sf</th>
        <th>Total Net Prem</th>
        <th>Members Count</th>
        <th>Denied Count</th>
        <th>Effective Date</th>
        <th>Expiry Date</th>
        <th>Terms</th>
        <th></th>

      </tr>
    </thead>

    <tbody>
      <% @gyrt_batches.each do |gyrt_batch| %>
        <tr>

        <td><%= gyrt_batch.id %></td>
        <td><%= gyrt_batch.cooperative %></td>
        <td><%= gyrt_batch.batch_name %></td>
        <td><%= gyrt_batch.total_gross_prem %></td>
        <td><%= gyrt_batch.total_coop_sf %></td>
        <td><%= gyrt_batch.total_net_prem %></td>
        <td><%= gyrt_batch.members_count %></td>
        <td><%= gyrt_batch.denied_count %></td>
        <td><%= gyrt_batch.effective_date %></td>
        <td><%= gyrt_batch.expiry_date %></td>
        <td><%= gyrt_batch.terms %></td>
    
          <td>
            <%= link_to 'View', gyrt_batch, class: 'btn' %>
            <%= link_to 'Edit', edit_gyrt_batch_path(gyrt_batch), class: 'btn' %>
            <%= link_to 'Delete', gyrt_batch, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn' %>
          </td>

        </tr>
      <% end %>
    </tbody>
  </table>
</div>
