<div id="<%= dom_id geo_municipality %>">
  <p>
    <strong>Geo region:</strong>
    <%= geo_municipality.geo_region_id %>
  </p>

  <p>
    <strong>Geo province:</strong>
    <%= geo_municipality.geo_province_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= geo_municipality.name %>
  </p>

  <p>
    <strong>Psgc code:</strong>
    <%= geo_municipality.psgc_code %>
  </p>

</div>
