<%= content_tag :h1, "List of Geo Municipalities" %>


<div class="text-end mb-3">
  <%= link_to new_geo_municipality_path, class: 'btn btn-primary' do %>
    New Geo Municipality
  <% end %>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>

      <th>ID</th>
        <th>Geo Region</th>
        <th>Geo Province</th>
        <th>Name</th>
        <th>Psgc Code</th>
        <th></th>

      </tr>
    </thead>

    <tbody>
      <% @geo_municipalities.each do |geo_municipality| %>
        <tr>

        <td><%= geo_municipality.id %></td>
        <td><%= geo_municipality.geo_region %></td>
        <td><%= geo_municipality.geo_province %></td>
        <td><%= geo_municipality.name %></td>
        <td><%= geo_municipality.psgc_code %></td>
    
          <td>
            <%= link_to 'View', geo_municipality, class: 'btn' %>
            <%= link_to 'Edit', edit_geo_municipality_path(geo_municipality), class: 'btn' %>
            <%= link_to 'Delete', geo_municipality, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn' %>
          </td>

        </tr>
      <% end %>
    </tbody>
  </table>
</div>
