<div id="<%= dom_id gyrt_proposal %>">
  <p>
    <strong>Cooperative:</strong>
    <%= gyrt_proposal.cooperative_id %>
  </p>

  <p>
    <strong>Incharge name:</strong>
    <%= gyrt_proposal.incharge_name %>
  </p>

  <p>
    <strong>Inchage position:</strong>
    <%= gyrt_proposal.inchage_position %>
  </p>

  <p>
    <strong>New min age:</strong>
    <%= gyrt_proposal.new_min_age %>
  </p>

  <p>
    <strong>New max age:</strong>
    <%= gyrt_proposal.new_max_age %>
  </p>

  <p>
    <strong>Old min age:</strong>
    <%= gyrt_proposal.old_min_age %>
  </p>

  <p>
    <strong>Old max age:</strong>
    <%= gyrt_proposal.old_max_age %>
  </p>

  <p>
    <strong>Ave age:</strong>
    <%= gyrt_proposal.ave_age %>
  </p>

  <p>
    <strong>Members count:</strong>
    <%= gyrt_proposal.members_count %>
  </p>

  <p>
    <strong>Total Prem:</strong>
    <%= gyrt_proposal.total_premium %>
  </p>


</div>
