
<%= simple_form_for(@gyrt_coverage) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs mb-3">
    <%= f.association :gyrt_batch %>
    <%= f.association :member %>
    <%= f.input :age %>
    <%= f.input :gross_prem %>
    <%= f.input :status %>
  </div>

  <div class="form-actions text-end">
    <%= link_to "Back", gyrt_coverages_path, class: 'btn btn-secondary' %>
    <%= f.button :submit, class: 'btn-success' %>
  </div>
<% end %>
