<div id="<%= dom_id gyrt_coverage %>">
  <p>
    <strong>Gyrt batch:</strong>
    <%= gyrt_coverage.gyrt_batch_id %>
  </p>

  <p>
    <strong>Member:</strong>
    <%= gyrt_coverage.member_id %>
  </p>

  <p>
    <strong>Age:</strong>
    <%= gyrt_coverage.age %>
  </p>

  <p>
    <strong>Gross prem:</strong>
    <%= gyrt_coverage.gross_prem %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= gyrt_coverage.status %>
  </p>

</div>
