<div id="<%= dom_id batch_item %>">
  <p>
    <strong>Batch:</strong>
    <%= batch_item.batch_id %>
  </p>

  <p>
    <strong>Cooperative:</strong>
    <%= batch_item.cooperative_id %>
  </p>

  <p>
    <strong>Member:</strong>
    <%= batch_item.member_id %>
  </p>

  <p>
    <strong>Age:</strong>
    <%= batch_item.age %>
  </p>

  <p>
    <strong>Sum insured:</strong>
    <%= batch_item.sum_insured %>
  </p>

  <p>
    <strong>Effective date:</strong>
    <%= batch_item.effective_date %>
  </p>

  <p>
    <strong>Expiry date:</strong>
    <%= batch_item.expiry_date %>
  </p>

  <p>
    <strong>Terms:</strong>
    <%= batch_item.terms %>
  </p>

  <p>
    <strong>Gross prem:</strong>
    <%= batch_item.gross_prem %>
  </p>

</div>
